<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:insert="fragments/head.html :: headerfiles"></head>

<body>
    <nav th:insert="fragments/navbar.html :: navbar" class="sticky-top"></nav>
    <div class="row">
        <div class="col-6">

            <div class="row">
                <h2 class="pg_title">New House</h2>
            </div>

            <div class="card-body">

                <form th:action="@{/houses/savenew}" th:object="${houseNew}" method="post">
                    <div class="mb-3">

                        <label for="name" class="form-label">Name</label> <input type="text" class="form-control"
                            th:field="*{name}" placeholder="Name of the House" autofocus><br>

                        <label for="district" class="form-label">District</label> <input type="text"
                            class="form-control" th:field="*{district}" placeholder="District"><br>

                        <label for="address" class="form-label">Address</label> <input type="text" class="form-control"
                            th:field="*{address}" placeholder="Address" autofocus><br>

                        <label for="admin" class="form-label">Administrator</label> <input type="text"
                            class="form-control" th:field="*{admin}" placeholder="Administrator's name" autofocus><br>

                        <label for="phone" class="form-label">Telephone</label> <input type="text" class="form-control"
                            th:field="*{phone}" placeholder="Telephone" autofocus><br>

                    </div>

                    <button type="submit" class="btn og_btn">Save</button>
                </form>
                <br> <a th:href="@{/houses}" class="btn og_btn"> <i class="fas fa-angle-double-left"></i>
                    Return
                </a>
            </div>

        </div>
    </div>

    <!-- SCRIPTS -->
    <div th:insert="fragments/scripts.html :: scripts">
</body>

</html>