<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head th:insert="fragments/head.html :: headerfiles"></head>
  <body>
    <nav th:insert="fragments/navbar.html :: navbar" class="sticky-top"></nav>

    <div class="container mt-5">
      <div class="row">
        <h2 class="pg_title pb-4"><span><img th:src="@{../../img/TRANS_LITTLE_FLAG.jpg}" alt="" style="width: 60px;"></span> Applications </h2>
        
      </div>
      <table class="table table-hover table-bordered align-middle">
        <thead class="table-danger">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Applicant ID</th>
            <th scope="col">Applicant given name</th>
            <th scope="col">Full Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">House</th>
            <th scope="col">Status</th>
            <th scope="col">Update</th>
          </tr>
        </thead>
        <tbody class="table-info">
          <tr th:each="applicationn : ${applications}">
            <th th:text="${applicationn.id}" scope="row"></th>
            <th th:text="${applicationn.applicant_dni}"></th>
            <td th:text="${applicationn.applicant_name_dni}"></td>
            <th th:text="${applicationn.applicant_name}"></th>
            <td th:text="${applicationn.applicant_age}"></td>
            <td th:text="${applicationn.applicant_email}"></td>
            <td th:text="${applicationn.applicant_phone}"></td>
            <td th:text="${applicationn.house_name}"></td>
            <td th:text="${applicationn.status}"></td>
            <td><a th:href="@{'/seeApplications/' + ${applicationn.id} + '/editApplication'}" class="btn btn-secondary">
              <i data-feather="edit-2"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div th:insert="fragments/scripts.html :: scripts">
  </body>
</html>
