<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:insert="fragments/head.html :: headerfiles"></head>

<body>
    <nav th:insert="fragments/navbar.html :: navbar" class="sticky-top"></nav>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item carousel-item-1 active">
    
            <div class="container">
              <div class="carousel-caption text-start">
                <h1 class="fw-bolder">Casa Trans de Lima Este.</h1>
                <h5 class="fw-bolder">"Our house is inclusive, we are not going to exclude anyone. Everyone and everyone is welcome, but mainly we are going to serve trans women" <br>- Vania</h5>
                <p class="fw-bolder"> "Nuestra casa es inclusiva, no vamos a excluir a nadie.Todas y todos están bienvenidas, pero principalmente vamos a atender a mujeres trans“
                    </p>
                <a class="btn btn-lg lightPink_btn" th:href="@{'/applications'}">Look for a home</a>
              </div>
            </div>
          </div>
          <div class="carousel-item carousel-item-2">
    
            <div class="container">
              <div class="carousel-caption">
                <h1>Another example headline.</h1>
                <p>Some representative placeholder content for the second slide of the carousel.</p>
                <p><a class="btn btn-lg lightPink_btn" href="#">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item carousel-item-3">
    
            <div class="container">
              <div class="carousel-caption text-end">
                <h1>One more for good measure.</h1>
                <p>Some representative placeholder content for the third slide of this carousel.</p>
                <p><a class="btn btn-lg lightPink_btn" href="#">Browse gallery</a></p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <div class="container mt-5">


        <div class="row">
            <div class="col">
                <img th:src="@{../../img/pride.png}" alt="" style="max-height: 50vh; width: auto;">
            </div>
            <div class="col"></div>
        </div>
    </div>

    <div th:insert="fragments/scripts.html :: scripts">

</body>

</html>