<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:insert="fragments/head.html :: headerfiles"></head>

<body>
    <nav th:insert="fragments/navbar.html :: navbar" class="sticky-top"></nav>
    <div class="container mt-5">
        <h1>
            Welcome, <span sec:authentication="principal.username"></span>
        </h1>

        <img th:src="@{../../img/pride.png}" alt="">
    </div>

    <div th:insert="fragments/scripts.html :: scripts">

</body>

</html>