<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:insert="fragments/head.html :: headerfiles"></head>

<body>
    <nav th:insert="fragments/navbar.html :: navbar" class="sticky-top"></nav>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item carousel-item-1 active">
            <div class="container">
              <div class="carousel-caption text-start">
                <h1 class="fw-bolder">Casa Trans de Lima Este.</h1>
                <h2 class="fw-bolder">We bring the home to you.</h2>
                <h5 class="fw-bolder">"Our house is inclusive, we are not going to exclude anyone. Everyone and everyone is welcome, but mainly we are going to serve trans women" <br>- Vania</h5>
                <p class="fw-bolder"> "Nuestra casa es inclusiva, no vamos a excluir a nadie.Todas y todos están bienvenidas, pero principalmente vamos a atender a mujeres trans“
                    </p>
                <a class="btn btn-lg lightPink_btn" th:href="@{'/applications'}">Look for a home</a>
              </div>
            </div>
          </div>
          <div class="carousel-item carousel-item-2">
    
            <div class="container">
              <div class="carousel-caption">
                <h1 class="fw-bolder">Did you know that the main problem transgender people face is homelesness?</h1>
                <a class="btn btn-lg lightPink_btn" href="#about">Learn more</a>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <div class="container mt-5 mb-5" id="about">
        <div class="row mt-5 justify-content-center " >
          <div class="col align-self-center">
              <h1>
                Trans people face homelesness because of the following reasons
              </h1>
              <br>
              <ul>
                <li>
                  They get kicked out of their homes 
                </li>
                <li>
                  They run away because of abusive circumstances
                </li>
                <li>
                  They do not have access to work, therefore they cannot afford a home
                </li>
                <li>
                  They face abuse and instances of transphobia at the hands of their tenants
                </li>
              </ul>
          </div>
          <div class="col align-self-center">
            <img th:src="@{../../img/searchHouse.png}" alt="" style="width: inherit;">
          </div>
        </div>
        <div class="row justify-content-center mt-5">
          <div class="col align-self-center">
              <img th:src="@{../../img/pride.png}" alt="" style="max-height: 50vh; width: auto;">
          </div>
          <div class="col align-self-center">
            <h1>Only 40% of Peruvians would hire a trans person.</h1>
            <br>
            <p >According to Universidad Peruana Cayetano Heredia, only 3% of this community can access a formal job. Due to the pandemic, their situation has become even more precarious. 
            </p>
          </div>
      </div>
      <div class="row justify-content-center mb-5">
        <div class="col align-self-center">
          <h1 class="text-center">How can you help?</h1>
          <br>
          <p class="text-center">
            If you are an ally or part of the community, and can offer you home for transgender individuals get in touch with us!
          </p>
          <p class="text-center"><a class="btn btn-lg lightPink_btn text-center mx-auto" th:href="@{https://presente.pe/voluntariado/}">Contact Us</a></p>
        </div>
      </div>
    </div>

    <div th:insert="fragments/scripts.html :: scripts">

</body>

</html>