<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:insert="fragments/head.html :: headerfiles"></head>

<body>
    <nav th:insert="fragments/navbar.html :: navbar" class="sticky-top"></nav>

    <div class="container mt-5">
        <div class="row row-cols-auto">
            <div class="col">
                <h2 class="pg_title">Homes for you</h2>
            </div>
        </div>

        <section style="margin: 20px;">
            <div class="row">

                <div th:each="house : ${houses}" class="col-sm-3" style="padding: 5px;">
                    <div class="card mb-3 text-center shadow border-0 rounded-3" style="width: 17rem;">
                        <img class="card-img-top mx-auto pt-3" th:src="@{/../img/transFlag_icon.png}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-text">
                                Name: <span th:text="${house.name}"></span>
                            </h5>
                            <h5 class="card-text">
                                District: <span th:text="${house.district}"></span>
                            </h5>
                            <h5 class="card-text">
                                Administrator's name: <span th:text="${house.admin}"></span>
                            </h5>
                            <h5 class="card-text">
                                Availability: <span th:text="${house.spaces_available}"></span>
                            </h5>
                            <br>
                            <!-- CREATE APPLICATION -->
                            <a th:href="@{'/applications/new/' + ${house.id}}" class="btn btn-primary">
                                <i data-feather="info"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </div>

    <div th:insert="fragments/scripts.html :: scripts">

</body>

</html>