<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:insert="fragments/head.html :: headerfiles"></head>

<body>
    <nav th:insert="fragments/navbar.html :: navbar" class="sticky-top"></nav>

    <div class="position-relative overflow-hidden m-md-3 text-center header-bg-img">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 fw-normal title-text">Homes for you</h1>
        </div>
    </div>
    <div class="container mt-5">
      <div class="row mb-5 mx-auto" style="max-width: 600px;">
        <!-- SEARCH -->
        <form class="d-flex" th:action="@{/applications}" method="get">
          <input id="txtSearch" class="form-control me-2 rounded-2" type="search" placeholder="Search by district or name of the house"
              aria-label="Search" name="keyword">
          <button class="btn btn-outline-info white-font-hover rounded-2"
              type="submit">Search</button>
        </form>
      </div>
      <div class="row justify-content-center">

          <div th:each="house : ${houses}" class="col-12 card-deck centerd" style="padding: 5px;">
            <div class="card mb-3 mx-auto" style="max-width: 600px;">
                <div class="row ">
                  <div class="col-md-4">
                    <img th:src="@{/../img/reviewHouse.png}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Name: <span th:text="${house.name}"></span></h5>
                      <ul>
                          <li class="card-text">Administrator's name: <span th:text="${house.admin}"></span></li>
                          <li class="card-text">Address: <span th:text="${house.address}"></span></li>
                          <li class="card-text">District: <span th:text="${house.district}"></span></li>
                          <li class="card-text">Phone: <span th:text="${house.phone}"></span></li>
                          <li class="card-text">Availability: <span th:text="${house.spaces_available}"></span></li>
                      </ul>
                      
                      <!-- CREATE APPLICATION -->
                      <div class="text-end">
                        <a th:href="@{'/applications/new/' + ${house.id}}" class="btn heart-btn ">
                            <i data-feather="heart"></i> Apply</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>

      </div>

    </div>

    <div th:insert="fragments/scripts.html :: scripts">

</body>

</html>